li {
    list-style: none;
}

a {    
    text-decoration:none;
}

ul.projects-list li.project {
    background-color:#f7f7f7;
    min-height:300px;
    color:#fff;
    margin:0px 1em 1em 0em;
    display:block;
    position:relative;
    padding:0px;
    background-size:cover;
}

p.web-technologies { 
    float:right;
    color: #fff;
    margin-bottom:0.5em;
    font-size:1rem;
}

p.project-name {
    font-size:1em;
    clear:none;
    font-weight:bold;
}

.icon {
    float:right;
    margin-left:1.5em;
    color:black;
}

.icons {
    margin:1em;
}

header { 
    padding:2em 0em 1em 0em;
}

li.project { 

}

img.project-preview-image { 
    width:370px;
    height:300px;
    margin:0;
}

.project-preview-footer {
    padding:2% 5%;
    background-color:#000;
    opacity:0.7;
    position:absolute;
    width:90%;
    bottom:0px;
}

li.project:hover .project-preview-footer {
    opacity:0.9;
    transition:opacity 0.3s;
}